* {
    margin: 0;
    padding: 0;
}
.container{
    width: 100vw;
    height: 100vh;
    background-color: #212121;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 160px;
}
.box{
    padding: 30px;
    background-color: beige;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    box-shadow: 10px 10px 5px lightblue;
}
form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
}
.intro{
    font-size: x-large;
    color: blue;
    text-shadow: 0 2px 4px beige;
}
