.box{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 25px;
    border: 1px black solid;
    padding-bottom: 25px;
    width: 36vw;
    border-radius: 15px;
}
body{
    display: flex;
    justify-content: center;
}